body {
    font-family: Arial, sans-serif;
    background-color: #d6ffba;
    margin: 0;
    padding: 20px;
}


table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}


th {
    background-color: #4CAF50;
    color: white;
    padding: 12px 15px;
    text-align: left;
    font-size: 16px;
}


td {
    padding: 12px 15px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}


tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}


table, th, td {
    border: 1px solid #ddd;
}


h1 {
    text-align: center;
    color: #333;
}
iframe{
    margin-left: 34%;
}
a{
    display: block;
    padding: 10px 20px;
    margin: 10px;
    color: #1e3b03;
    background-color:#9fce8b;
    transition: background-color 0.3 ease;
    border-radius: 5px;
    text-align: center;
}
a:hover{
    background-color: 
    #8bd36c;
}
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    table {
        width: 100%;
        font-size: 14px;
    }

    iframe {
        width: 100% !important;
        height: auto;
        margin-left: 0;
    }

    h2 {
        font-size: 24px;
        text-align: center;
    }

    a {
        width: 100%;
        margin: 5px 0;
    }
}
